/** Bold */
@font-face {
  font-family: "Galano Grotesque";
  font-weight: 700;
  src: local("GalanoGrotesqueBold"),
    url("~assets/fonts/GalanoGrotesqueBold.ttf") format("truetype");
}

/** SemiBold */
@font-face {
  font-family: "Galano Grotesque";
  font-weight: 600;
  src: local("GalanoGrotesqueSemiBold"),
    url("~assets/fonts/GalanoGrotesqueSemiBold.ttf") format("truetype")
}

/** Medium */
@font-face {
  font-family: "Galano Grotesque";
  font-weight: 500;
  src: local("GalanoGrotesqueMedium"),
    url("~assets/fonts/GalanoGrotesqueMedium.ttf") format("truetype");
}

/** Regular */
@font-face {
  font-family: "Galano Grotesque";
  font-weight: 400;
  src: local("GalanoGrotesqueRegular"),
    url("~assets/fonts/GalanoGrotesqueRegular.ttf") format("truetype");
}