// $main: #283b56;
// $secondary: #e6e6e6;

// $warning: #f4952f;
// $success: #07c23f;
// $danger: #ff4444;

// $dark: #263850;
// $light: #ffffff;

$main: #0d1724;
$secondary: #36a0d9;
$warning: #f4952f;
$success: #07c23f;
$danger: #ff4444;

$dark: #263850;
$light: #ffffff;
$input: #f5f8f9;
$disabled: #d9e1e3;
$link: #52cded;
$info: #9399A7;
$fill: #e6eaeb;

@mixin text-overflow() {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1080px) { @content ; }
  }

  @else if $point == tablet {
     @media (min-width: 960px) { @content ; }
  }

  @else if $point == phablet {
    @media (min-width: 620px) { @content ; }
  }

  @else if $point == mobile {
     @media (min-width: 360px)  { @content ; }
  }
}
