// $main: #283b56;
// $secondary: #e6e6e6;

// $warning: #f4952f;
// $success: #07c23f;
// $danger: #ff4444;

// $dark: #263850;
// $light: #ffffff;

$main: #283b56;
$light: #ffffff;
$warning: #f4952f;
$success: #07c23f;
$danger: #ff4444;
$text: #263850;
$fill: #e6eaeb;
$background: #fbfbfb;
$info: #9399A7;
$border: #dae2e4;
$disabled: #d9e1e3;

$desktop-width: 1080px;
$tablet-width: 960px;
$phablet-width: 620px;
$mobile-width: 360px;

$mobile-navigation: 86px;
$desktop-navigation: 56px;

$desktop: "min-width: #{$desktop-width}";
$tablet: "max-width: #{$tablet-width - 1px}";
$phablet: "max-width: #{$phablet-width - 1px}";
$mobile: "max-width: #{$mobile-width - 1px}";

@mixin text-overflow() {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1080px) { @content ; }
  }

  @else if $point == tablet {
     @media (min-width: 960px) { @content ; }
  }

  @else if $point == phablet {
    @media (min-width: 620px) { @content ; }
  }

  @else if $point == mobile {
     @media (min-width: 360px)  { @content ; }
  }
}
