// $main: #283b56;
// $secondary: #e6e6e6;

// $warning: #f4952f;
// $success: #07c23f;
// $danger: #ff4444;

// $dark: #263850;
// $light: #ffffff;

$main: #45b9ea;
$light: #ffffff;
$warning: #f4952f;
$success: #07c23f;
$danger: #ff4444;
$text: #263850;
$fill: #dff4ff;
$info: #9399A7;
$border: #dae2e4;
$disabled: #d9e1e3;

@mixin text-overflow() {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin breakpoint($point) {
  @if $point == desktop {
    @media (max-width: 1080px) { @content ; }
  }

  @else if $point == tablet {
     @media (min-width: 960px) { @content ; }
  }

  @else if $point == phablet {
    @media (min-width: 620px) { @content ; }
  }

  @else if $point == mobile {
     @media (min-width: 360px)  { @content ; }
  }
}
