{
  "root": true,
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "extends": [
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "plugins": [
    "vue"
  ],
  "globals": {
    "google": false
  },
  "rules": {
    "global-require": "off",
    "no-return-assign": "off",
    "import/prefer-default-export": "off",
    "import/no-dynamic-require": "off",
    "import/no-unresolved": "off",
    "no-shadow": "off",
    "no-else-return": "off",
    "lines-between-class-members": "off",
    "no-mixed-operators": "off",
    "consistent-return": "off",
    "object-curly-newline": "off",
    "class-methods-use-this": "off",
    "default-case": "off",
    "no-confusing-arrow": "off",
    "no-plusplus": "off",
    "no-nested-ternary": "off",
    "vue/singleline-html-element-content-newline": "off",
    "vue/no-v-html": "off",
    "vue/html-closing-bracket-spacing": ["error", {
      "startTag": "never",
      "endTag": "never",
      "selfClosingTag": "never"
    }],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "exports": "never",
      "imports": "never",
      "functions": "never",
      "objects": "only-multiline"
    }],
    "no-console": ["warn", { "allow": ["info", "warn", "error"] }],
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-param-reassign": ["error", { "props": false }],
    "arrow-parens": ["warn","as-needed"],
    "func-names": ["warn", "never"],
    "max-len": ["error", {
      "code": 120,
      "tabWidth": 2,
      "ignoreTemplateLiterals": true,
      "ignoreRegExpLiterals": true
    }],
    "max-classes-per-file": ["error", 2],
    "vue/max-attributes-per-line": ["error", {
      "singleline": 4,
      "multiline":  4
    }],
    "indent": ["error", 2, {
      "ignoredNodes": ["TemplateLiteral", "ConditionalExpression"]
    }],
    "spaced-comment": ["error", "always", { "exceptions": ["#endregion"], "markers": ["#region", "#endregion"] }],
    "newline-per-chained-call":  ["error", { "ignoreChainWithDepth": 5 }]
  }
}
